@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


@font-face {
    font-family: 'Destroy';
    src: url(../fonts/DESTROY_.TTF) format('ttf');
}

.ui-components{
    padding: 10px; 
    z-index: unset;
    position: 'absolute';
}

.playarea-container {
    float: right;
    width: 100%;
    height: auto;
    background-color: ghostwhite ;
    text-align: center;
    height: 80%;
  }
.components-list-container {
    background-color: whitesmoke ;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: absolute;
    width: 20%;
    overflow-y: auto;
}

.playarea {
    border-top-width: 0.5px;
    border-top-color: black;
    border-top-style: groove ;
    background-color: ghostwhite;
    height: 80%;
    position: absolute;
    width: 100%;
    overflow-y: auto;
}

.heading {
    text-align: center; 
    justify-content: space-evenly;
}
.left-head {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.components-list {
    overflow-y: auto;
    position: relative;
  }

.component-element-list {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 20%;
    background-color: azure;
}
.list-components{
    position: relative;
}

.main:after {
    display: flex;
    overflow:hidden; 
}

h1 {
    font-family: 'Destroy';
}

.test {
    
        
}